@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: rgb(29, 29, 29);
}

h1 {
    text-align: center;
    margin-top: 35px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

#input-tarefa{
    height: 50px;
    padding: 0 5px;
    width: 80%;
    border-radius: 10px;
    border: none;
    margin: 0 5px;
    background: rgb(53, 52, 52);
    color: #fff;
    outline:none ;
    
}
#btn-adicionar{
    background:radial-gradient(closest-corner at 35% 40%, rgba(236, 234, 234, 0.9),transparent), green;
    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

ul {
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 90%;
    left: -50px;
}

li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    background: rgb(53, 52, 52);
    padding: 0 40px 0 10px;
    height: 67px;
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
   
}

.btn-lixeira{
    position: absolute;
    border-radius: 50%;
    font-size: 15px;
    background:radial-gradient(closest-corner at 35% 40%, rgba(236, 234, 234, 0.9),transparent), red;
    border: none;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    left:90%;
    
}

@media screen and (min-width: 17em){
    .btn-lixeira{
        position: absolute;
        left:85%;
    }
    li{
        padding: 0 50px 0 10px;
    }
}

@media screen and (min-width: 25em){
    .btn-lixeira{
        position: absolute;
        left:90%;
    }
    li{
        padding: 0 50px 0 10px;
    }
}

@media screen and (min-width: 31em){
    
    ul{
        width: 490px;
    }
    .btn-lixeira{
        left:90%;
    }

    #input-tarefa{
        width: 455px;
    }
}